<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791900416820-nb3e5140t9grns3ema9cpd2nmo63mqrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791900416820-nb3e5140t9grns3ema9cpd2nmo63mqrp</string>
	<key>API_KEY</key>
	<string>AIzaSyBkqQ34w-4EBQck1i9YAr2mc-GWL94WQFM</string>
	<key>GCM_SENDER_ID</key>
	<string>791900416820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Marshall.WeaponGenerator</string>
	<key>PROJECT_ID</key>
	<string>weapon-generator-2ed08</string>
	<key>STORAGE_BUCKET</key>
	<string>weapon-generator-2ed08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791900416820:ios:9d6ca922495819cd389361</string>
	<key>DATABASE_URL</key>
	<string>https://weapon-generator-2ed08.firebaseio.com</string>
</dict>
</plist>